{
  "plugins": ["prettier-plugin-sh"],
  "printWidth": 180,
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.sh",
      "options": {
        "parser": "sh",
        "variant": 4
      }
    }
  ]
}